- content_for :extras do
  = button_tag 'X', id: 'cancel_modal', class: "cancel-button"
- content_for :modal_content do
  .form-header Sign up
  = form_with(scope: resource_name, url: registration_path(resource_name), id: :user_sign_up) do |f|
    #error_messages 
      = devise_error_messages!
    .field
      = f.label :email, class: "form-label"
      = f.email_field :email, class: "form-input-field", autofocus: true, autocomplete: "email"
    .field
      = f.label :password, class: "form-label"
      - if @minimum_password_length
        %em.form-label
          (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "new-password", class: "form-input-field"
    .field
      = f.label :password_confirmation, class: "form-label"
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input-field"
    .actions
      = f.submit "Sign up", class: "button", remote: true
      = content_for :extras
      = render "devise/shared/links"

= render partial: 'partials/modal'

