.logincard
  .cardbackground
    %h2.block.text-blue-dark.text-xl.text-center.font-bold.pb-2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :email, class: "emaillabel"
        = f.email_field :email, class: "emailfield", autofocus: true, autocomplete: "email"
      .field
        = f.label :password, class: "emaillabel"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "passwordfield"
      .field
        = f.label :password_confirmation, class: "emaillabel"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "emailfield"
      .actions
        = f.submit "Sign up", class: "signupbutton"
        = render "devise/shared/links"