.login-card
  .card-background
    .card-text
      %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :email, class: "email-label"
        = f.email_field :email, class: "email-field", autofocus: true, autocomplete: "email"
      .field
        = f.label :password, class: "email-label"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "password-field"
      .field
        = f.label :password_confirmation, class: "email-label"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "email-field"
      .actions
        = f.submit "Sign up", class: "signup-button"
        = render "devise/shared/links"