- content_for :modal_content do
    .login-card
        .card-background
            .card-text
                %h1.text-center.mt-6 Create New Job
            = form_with scope: :job, url: jobs_path, id: :create_job, class: "px-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-6" do |form|
                #error_messages
                = form.label :name, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :name, placeholder: "Name", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :profession, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :profession, placeholder: "Profession", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :hospital, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :hospital, placeholder: "Hospital", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :department, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :department, placeholder: "Department", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :license, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :license, placeholder: "License/s", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :caretype, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :caretype, placeholder: "Caretype", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :scope, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :scope, placeholder: "Scope", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :working_hours, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :working_hours, placeholder: "Hours", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :date_start, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :date_start, placeholder: "y/d/m", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.label :date_finish, class: "block text-grey-darker text-sm font-bold mb-2"
                = form.text_field :date_finish, placeholder: "y/d/m", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                = form.submit value: "Submit", class: "bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 my-4 rounded focus:outline-none focus:shadow-outline"
                = button_tag 'Cancel', id: 'cancel_modal', class: 'signup-button'
= render partial: 'partials/modal'