#header
  = link_to "RSC Dashboard", root_path
  .zdh-button
    - if I18n.locale == I18n.default_locale
      = link_to "Svenska", locale: 'sv'
    - else
      = link_to "English", locale: 'en'
  .zdh-button
    = link_to "Create RSC account", new_user_path
  .zdh-button
    - if user_signed_in?
      = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      = link_to "Login/Register", new_user_session_path