.grid-container
  #sidebar
    %button.zdh-button= t :jobs
    %button.zdh-button= link_to "#{t :hospitals}", hospitals_path, class: 'zdh-button' 
    %button.zdh-button= link_to "#{t :staffcos}", staffcos_path, class: 'zdh-button'
