.grid-container
  #sidebar
    %button.zdh-button= link_to "#{t :jobs}",  root_path, class: 'no-underline text-white'
    %button.zdh-button= link_to "#{t :hospitals}", hospitals_path, class: 'no-underline text-white'
    %button.zdh-button= link_to "#{t :staffcos}", staffcos_path, class: 'no-underline text-white'
    %button.zdh-button= link_to "Create RSC account", new_user_path, class: 'no-underline text-white'