
- content_for :modal_content do 
  .to-form-header Add new RSC user
  = form_with scope: :user, url: users_path, local: true, class: 'to-form' do |form|
    .to-field-wrapper
      .to-field-full-width
        = form.label :email, class: "to-form-label"
        = form.text_field :email, class: "to-form-input-field", autofocus: true, autocomplete: "email"
    .to-field-wrapper
      = form.submit "Create account", class: 'to-button'
      = button_tag 'Cancel', id: 'cancel_modal', class: 'to-button'
= render partial: 'partials/modal'