
- content_for :modal_content do 
  = button_tag 'X', id: 'cancel_modal', class: "cancel-button"
  .form-header Add new RSC user
  = form_with scope: :user, url: user_invitation_path, id: :create_user do |form| 
    #error_messages
    .to-field-wrapper
      .to-field-full-width
        = form.label :email, class: "form-label"
        = form.text_field :email, class: "form-input-field", autofocus: true, autocomplete: "email"
    .to-field-wrapper
      = form.submit "Create account", class: 'button'
= render partial: 'partials/modal'