= link_to "Logout", destroy_user_session_path, method: :delete
.login-card
  .card-background
    .card-text
      %h2 Add new RSC user
    = form_with scope: :user, url: users_path, local: true do |form|
      .field
        = form.label :email, class: "email-label"
      .field
        = form.text_field :email, class: "email-field", autofocus: true, autocomplete: "email"
      .field
        = form.submit "Create account", class: "signup-button"