= link_to "Logout", destroy_user_session_path, method: :delete
= form_with scope: :user, url: users_path, local: true do |form|
  %p
    = form.label :email 
    %br/
    = form.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
    = form.submit "Create RSC account", class: "inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"



