= link_to "Logout", destroy_user_session_path, method: :delete
.logincard
  .cardbackground
    .cardtext
      %h2 Add new RSC user
    = form_with scope: :user, url: users_path, local: true do |form|
      .field
        = form.label :email, class: "emaillabel"
      .field
        = form.text_field :email, class: "emailfield", autofocus: true, autocomplete: "email"
      .field
        = form.submit "Create RSC account", class: "signupbutton"