.card
  .inner-card
    .card-title
      %h1 Hospitals
    #list-item.flex
    - @hospitals.each do |hospital|
      #form-name
        %p= hospital.name
      #form-button
        %button.button Remove
    .add-field
      = form_with url: hospitals_path, scope: :hospital  do |f|
        = f.label :name
        = f.text_field :name, class: "add-field-placeholder"
        %br
        %button.button
          = f.submit value: "Add Hospital"
      

