.list-card
  .form-header Hospitals 
  .list-item.flex
  - @hospitals.each do |hospital|
    .list-grid
      .list-name= hospital.name
      .list-button-area
        = link_to "Remove", hospital_path(hospital, locale: I18n.locale), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: "button"
  = form_with url: hospitals_path, scope: :hospital  do |f|
    .list-grid
      .list-name
        = f.text_field :name, id: "Name", class: "form-input-field"
      .list-button-area
        = f.submit value: "Add Hospital", class: "button text-center"
