- content_for :modal_content do 
  .login-card
    .card-background
      .card-text
        %h2 Hospitals
      = form_with scope: :user, url: new_hospital_path, local: true do |form|
        .field
          = form.label :Hospitals, class: "name"
        .field
          = form.text_field :email, class: "email-field", autofocus: true, autocomplete: "email"
        .field
          = form.submit "Add", class: "signup-button"
          = button_tag 'Cancel', id: 'cancel_modal', class: 'signup-button'
= render partial: 'partials/modal'

