#rightbar
  .list-card
    .form-header Departments 
    .list-item.flex
    - @hospital.departments.each do |department|
      .list-grid
        .list-name= department.name
        .list-button-area
          %button.button Remove
    = form_with url: departments_path, scope: :department  do |f|
      = f.hidden_field :hospital_id, value: @hospital.id
      .list-grid
        .list-name
          = f.text_field :name, class: "form-input-field"
        .list-button-area
          = f.submit value: "Add Department", class: "button text-center"