.logincard
  .cardbackground
    .cardtext
      %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, class: "emaillabel"
        %br/
        = f.email_field  :email, class: "emailfield", autofocus: true, autocomplete: "email"
      .field
        = f.label :password, class: "emaillabel"
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "passwordfield"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, class: "emaillabel"
      = f.submit "Log in", class: "signupbutton"
      = render "devise/shared/links"
