!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: "Content-Type"}}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    %title nurse_and_doc
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {'turbolinks-track' => 'reload'}
    = javascript_include_tag 'application', data: {'turbolinks-track' => 'reload'}
    = stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag    'application', 'data-turbolinks-track': 'reload'

  %body
    = render partial: 'partials/header'
    .grid-container.bg-grey-darker
      = render partial: 'partials/sidebar'
      #content
        #temp_content
        #main_content
          - if notice || alert
            #messages
              = notice 
              = alert 
          = yield
      
    
