.card
  .inner-card
    .card-title
      %h1 Staffing Companies
    #list-item.flex
    - @staffcos.each do |staffcos|
      #form-name
        %p= staffcos.name
      #form-button
        %button.button Remove
    .add-field
      = form_with url: staffcos_path, scope: :staffco  do |f|
        = f.label :name
        = f.text_field :name
        = f.label :email
        = f.text_area :email
        = f.submit value: "Add Company"